body {
	font-family: Arial, Helvetica;
	margin: 0px;
}

header {
	text-align: center;
	border-bottom: 3px solid black;
}

.image_w_text {
	width: 400px;
	height: 300px;
	background-image: url("https://picsum.photos/300/300/?random");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	
	margin: 0.5%;
	float: left;
	
	color: #FFFFFF;
	text-align: center;
}

.image_w_text:hover {
	transform: scale(1.05, 1.05);
}
