body {
	font-family: Arial, Helvetica;
	margin: 0px;
}

header {
	text-align: center;
	margin-bottom: 1%;
	border-bottom: 3px solid black;
}

.activities {
	margin: auto;
	width: 90%;
}

.image_w_text {
	position: relative;
	width: 30%;
	margin: 0.5%;

	float: left;
}

.image_w_text:hover {
	transform: scale(1.05, 1.05);
}

.image_w_text img {
	width: 100%;
	height: 100%;
	border-radius: 5%;
}

.image_w_text h2 {
	color: #FFFFFF;
	position: absolute;
	top: 2%;
	width: 100%;
	text-align: center;
}	

@media screen and (max-width: 900px) {
	.image_w_text {
		width: 40%;
		margin: 1%;
	}
}

@media screen and (max-width: 700px) {
	.image_w_text {
		width: 80%;
		margin: 1%;
	}
	
	header {
		font-size: 0.7em;
	}
}
